.log_time
  %a{href: "#"} + Start or Log Time
  .tracking_time
    %h5 1 Person Tracking Time
    .user_tracking
      .profile_pic
        / %img{alt: "", src: "images/profile_png.png"}/
      .user_name
        %h3 Richard Peter
        %p Create Live Projects User Interface
      .time_btn
        %a{href: "#"} 5:30
    .your_time
      %h5 Your Time
      .tracker
        %span Today
        %span.line  
        %span.time 03:23
      .tracker
        %span Yesterday
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Week
        %span.line1  
        %span.time 07:21
      .tracker
        %span This Month
        %span.line1  
        %span.time 07:21
      .tracker
        %span Last Month
        %span.line1  
        %span.time 07:21
    .recent_activity
      %h5 Recent Activity
      .activity_recent
        %a{href: "#"} Thiyagu
        post new comment on Task
        %span Create Live Projects User Interface
      .activity_recent
        %a{href: "#"} Sumanth
        added a new project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Sumanth
        added a new resource
        %span Ajay
        to Project
        %span Live List
      .activity_recent
        %a{href: "#"} Thiyagu
        attached
        %span Sample Mockups.jpg
        to Project
        %span Mockups.me
      .activity_recent
        %a{href: "#"} Thiyagu
        changed his status to
        %span In progress
        for Task
        %span Create Live Projects User Interface
      %a.more{href: "#"} View More